html,body{
    height: 100%;
}

h1{
    color: blue;

}
div{
    width: 300px; 
    height: 350px;
    background-color: rgb(162, 0, 255);
}
span{
   
    background-color:crimson;
}
.arif{
    width: 50%;
    height: 50%;
    background-color: darkgreen;
}
.arif2{
    max-width: 90%;
    min-width: 50%;
    background-color: darkorange;
}
.arif3{
    max-width: 80%;
    min-width: 400px;
    max-height: 500px;
    min-height: 100px;
    background-color: darkred;
}